version: '3.9'

services:
  api:
    build: .
    container_name: api
    ports:
      - '8006:8000'
    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      - db
    #force automaticly reload
    command: >
      uvicorn multiTenantApi.main:app
      --host 0.0.0.0
      --port 8000
      --reload

  db:
    image: postgres:16
    container_name: postgres_db
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - '5438:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
